{% extends "saml2idp/base.html" %}
{% load i18n %}
{% block content %}
    <div style="display: none;">
        <form id="logged_in_post_form" method="post" action="{{ acs_url }}">
            <input type="hidden" name="RelayState" value="{{ relay_state }}"/>
            <input type="hidden" name="SAMLResponse" value="{{ saml_response }}"/>
            <input id="logged_in_button_continue" type="submit" value="{% trans "Continue" %}"/>
        </form>
    </div>
    Redirecting...
    <script language="javascript">
        <!--
        /* Hide the submit button and message and automatically submit the form. */
        window.onload = function () {
            var frm = document.getElementById('logged_in_post_form');
            frm.submit();
        };
        //-->
    </script>
{% endblock content %}
